body {
    font-size: 15.5px;
    text-align: center;
    background-color: #fbefd6;
}

body,
h3,
a {
    font-family: 'Gaegu', cursive;
}

h1,
h2,
a.home {
    font-family: 'Slackey', sans;
}

.header {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.box {
    display: inline-block;
    padding: 5px 10px;
    background-color: #00afb3;
    color: white;
    text-decoration: none;
    border-radius: 22px;
    border: 2px;
    margin: 2px 1px;
    transition: 0.2s;
}

.box:hover {
    transform: scale(1.08);
}

.box1 {
    display: inline-block;
    padding: 5px 10px;
    background-color: #5BC0DE;
    color: white;
    text-decoration: none;
    border-radius: 22px;
    border: 2px;
    margin: 2px 1px;
}

.box2 {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fbefd6;
    color: black;
    text-decoration: none;
    border-radius: 22px;
    border: 2px;
    margin: 2px 1px;
}

.idea {
    margin-top: 20px;
    font-size: 30.5px;
    color: #333;
}

.break {
    width: 100%;
    text-align: left;
    margin-left: 0;
    height: 5px;
    border-width: 0;
    background-color: #fbefd6
}

.break2 {
    width: 100%;
    text-align: left;
    margin-left: 0;
    height: 10px;
    border-width: 0;
    background-color: #fbefd6
}

.break3 {
    width: 100%;
    text-align: left;
    margin-left: 0;
    height: 0px;
    border-width: 0;
    background-color: #fbefd6
}

.bottom p {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.machine {
    transition: transform 0.2s;
}

.machine:hover {
    transform: scale(1.05);
}

.machine:active {
    transform: scale(0.90);
}
